= simple_form_for(@workshop, html: { multipart: true }) do |f|
  = render partial: 'shared/errors', locals: { resource: @workshop }
  .col-md-3
    .span3
  .col-md-6
    .span12
      .field
        = f.input :title
      .field
        = f.input :description
      .actions
        = link_to 'Cancel', workshops_path, class: 'btn btn-disabled'
        = f.submit 'Save', class: 'btn'
  .col-md-3
    .span3
  
.clearfix
